body {
	background-color: #C6C6C6;
}

#container {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 64px;
	width: 100%;
	box-sizing: border-box;
	flex-wrap: wrap;
}

#container > * {
	display: inline-block;
	min-width: 400px;
	min-height: 300px;
	max-width: 100%;
	background-color: white;
	padding: 32px;
	margin: 32px;
}

#container table {
	width: 100%;
}

#container input,
#container button {
	width: 100%;
	padding: 8px;
	font-size: 1.2rem;
	box-sizing: border-box;
}

#container #create-modify-usr th {
	font-size: 1.2rem;
}

#user-panel > table > * > * > * {
	border: 1px solid #404040;
	margin: 0px;
}